# Package Managers
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lock
bun.lockb

# Miscellaneous
/static/
Plexify - Tour & Travel Agency Tailwind CSS Template Preview - ThemeForest.html
Plexify - Tour & Travel Agency Tailwind CSS Template Preview - ThemeForest_files/
